h1 {
<<<<<<< HEAD
    color: #e22b2b;
=======
    color: blue;
>>>>>>> webseite-farouksaadeh/master
    font-size: 100px;
    text-align: left;
}

h2 {
    color: aqua;
    font-family: Calibri;
    font-size: 50px;
    text-align: left;
}