h1 {
    color: blue;
    font-size: 100px;
    text-align: left;
}

h2 {
    color: aqua;
    font-family: Calibri;
    font-size: 50px;
    text-align: left;
}

h3 {
    color: red;
    font-size: 200px;
}